* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
}

.container {
    color: #fff;
    margin: 5%;
    width: 100%;
    min-height: 100vh;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1 {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
}

.container img {
    width: 50px;
    height: auto;
}

.app {
    margin: 2%;
}